html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#navigator {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    overflow: hidden;
}

#navigator-breadcrumbs {
    margin-bottom: 1em;
    overflow-x: auto;
    font-family: "Courier New", Courier, monospace;
    padding: 0.3em;
    border: 1px solid #777777;
    border-radius: 0.5em;
    background-color: #eeeeee;
}

#navigator-breadcrumbs a {
    color: #0066cc;
    text-decoration: none;
    cursor: pointer;
}

#navigator-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#navigator-panel-left, #navigator-panel-right {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#navigator-panel-left {
    border-right: 1px solid #ccc;
}


#navigator-content .page-header {
    border-bottom: 1px solid #777777;
    font-size: 1.4em;
    font-style: oblique;
    font-family: "Courier New", Courier, monospace;
}

#navigator-content {
    display: flex;
    flex: 1;
}

#navigator-content .page-content {
    margin-top: 1em;
}

#navigator-content .page-content .section-header {
    font-size: 1.2em;
    margin-bottom: 1em;
    font-family: "Courier New", Courier, monospace;
}
#navigator-content .page-content .section-header .header-title {
    font-weight: bold;
}

#navigator-content .page-content .section-content .highlighttable {
    padding: 0.3em;
    border: 1px solid #777777;
    border-radius: 0.5em;
}

/* pre {
    white-space: pre-wrap;
    word-wrap: break-word;
} */

#navigator-content .section-header .header-permalink {
    font-size: 0.8em;
    text-decoration: none;
    color: #0366d6;
    background-color: #f1f8ff;
    border: 1px solid #6e89ff;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 10px;
}

#navigator-content .section-header .header-permalink:hover {
    background-color: #def;
}


.navigator-link {
    cursor: pointer;
    border: 2px dotted #707070;
    padding: 2px 4px;
    margin: 2px 4px;
}

.navigator-link:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #707070;
}

.navigator-title-prefix {
    font-family: "Courier New", Courier, monospace;
    color: #a3a3a3;
    font-weight: lighter;
}

.navigator-title {
    font-family: "Courier New", Courier, monospace;
    color: #000000;
}


/* .highlight .linenos .normal {
    display: inline-block;
    width: 4em;
    text-align: right;
    padding-right: 1em;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-content .highlight table .code pre {
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
} */





.highlighttable {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.linenodiv, .code {
    display: table-cell;
    vertical-align: top;
}

.code pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.linenodiv pre, .code pre {
    margin: 0;
    padding: 0;
}

.linenodiv pre span, .code pre span {
    display: block;
    line-height: 1.5em;
}

.linenodiv pre {
    text-align: right;
    padding-right: 0.5em;
    color: #999;
}